@{
    ViewData["Title"] = "Home Page";
}

<div id="entry-box" class="rounded-6 sign-in-content">
    <p id="demo"></p>
    <fieldset style="display:block;">
        <h2>Sample OpenId Connect</h2>
        <p class="lead">This is unprotected landing page of Application</p>
        <p class="lead">Use Login above to authenticate</p>

    </fieldset>


</div>
